body{
    font-size: 16px;
}

h1{
    size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul{
    background-color: aqua;
}

.cordefundo{
    background-color: blueviolet;
}

p{
    font-weight: 600;
    height: 3rem;
}

#amarelo{
    background-color: yellow;
}

#vermelho{
    background-color: red;
}

#marrom{
    background-color: brown;
}